USE [master]
GO
/****** Object:  Database [GDELT]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE DATABASE [GDELT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GDELT', FILENAME = N'C:\GDELT\GDELT.mdf' , SIZE = 12267520KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'GDELT_log', FILENAME = N'C:\GDELT\GDELT_log.ldf' , SIZE = 8829632KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GDELT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GDELT]
GO
/****** Object:  User [SSAS]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE USER [SSAS] FOR LOGIN [NT SERVICE\MSOLAP$JPCSQLSERVER] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [reportuser]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE USER [reportuser] FOR LOGIN [reportuser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Josh-PC\JoshJr]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE USER [Josh-PC\JoshJr] FOR LOGIN [Josh-PC\JoshJr] WITH DEFAULT_SCHEMA=[SSIS]
GO
/****** Object:  User [grhjosh]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE USER [grhjosh] FOR LOGIN [grhjosh] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SSAS]
GO
ALTER ROLE [db_datareader] ADD MEMBER [reportuser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [grhjosh]
GO
/****** Object:  SqlAssembly [Microsoft.MasterDataServices.DataQuality]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE ASSEMBLY [Microsoft.MasterDataServices.DataQuality]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300AB1C6A4B0000000000000000E00002210B010800005400000008000000000000EE73000000200000008000000000400000200000000200000400000000000000040000000000000000C000000002000002350100030040850000100000100000000010000010000000000000100000000000000000000000A07300004B00000000800000080400000000000000000000000000000000000000A000000C0000000C7300001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000F4530000002000000054000000020000000000000000000000000000200000602E7273726300000008040000008000000006000000560000000000000000000000000000400000402E72656C6F6300000C00000000A0000000020000005C00000000000000000000000000004000004200000000000000000000000000000000D0730000000000004800000002000500243D0000E8350000090000000000000000000000000000005020000080000000000000000000000000000000000000000000000000000000000000000000000060356AFB4A6CA9B332A1F3C987C989431D9C22D0113B938CA600D4FADDFAD119E17CBD2C60CA090664AC65FB60C7ECF206874B4D6B75F698E347B238B19CBF3ED01C6DF538F0212F0E7B207E961F0D4B11C225C38DD123380EB1735CBDFF0A98D5E3EF166F2EB5032A62F3B4EDCD0F4B9959936120B1FF6A4C72B8744A3D75831B3005006B00000001000011026F1400000A2D08036F1400000A2C06281500000A2A731600000A0A06036F1700000A6F1800000A281900000A731A00000A0B077E06000004281B00000A0C06026F1700000A1408146F1C00000ADE0A082C06086F1D00000ADC076F1E00000A281F00000A732000000A2A000110000002003F001150000A000000001330050008010000020000110F00282100000A2D200F01282100000A2D170F01282200000A282300000A2D090F02282400000A2C02142A0F00282200000A0A0F01282200000A6F2500000A0B0F02282600000A2D03162B01170C0607086F2700000A0D098E698D0300000213040F03282100000A2C301613052B22110411058F03000002110517580911059A17731B00000681030000021105175813051105098E6932D72B6B0F04282800000A2D090F04282900000A2B01161306110617281600000613070F03282200000A1107732A00000A13081613092B3011080911099A6F2B00000A130A110411098F03000002110917580911099A110A731B00000681030000021109175813091109098E6932C911042A133003003E0000000300001102A5030000020A0312007B08000004732C00000A810A0000010412007B09000004732D00000A81070000010512007B0A000004732E00000A81080000012A000013300400F4000000040000110F00282100000A2D240F01282100000A2D1B0F02282800000A2D120F03282F00000A2D090F04282F00000A2C067E3000000A2A0F02282900000A1304110445040000000500000027000000500000007200000038960000000F00282200000A0F01282200000A0F04283100000A28060000060A06733200000A2A0F00282200000A0F01282200000A0F03283100000A0F04283100000A28070000060B07733200000A2A0F00282200000A0F01282200000A0F04283100000A28080000060C08733200000A2A0F00282200000A0F01282200000A0F03283100000A0F04283100000A28090000060D09733200000A2A7E3000000A2A1330020048000000050000110F00283300000A2D090F01283300000A2C067E3000000A2A0F00283400000A0D1203283500000A0A0F01283400000A13041204283500000A0B0607280A0000060C08733200000A2A133004008B0200000600001102282300000A2D08026F3600000A2B01160A062D0A2300000000000000002A03282300000A2D08036F3600000A2B01160B072D0A2300000000000000002A0423000000000000F03F372E06072E0A2300000000000000002A02031B283700000A0C082C0A2300000000000000002A23000000000000F03F2A06073110030D071304021001060B09100011040A04230000000000000000351023000000000000000010020713052B22076C23000000000000F03F04595A69130506110558072F0A2300000000000000002A026F3800000A1000036F3800000A1001161306171307181308198D0100001B13141114160617588D32000001A21114170617588D32000001A21114180617588D32000001A21114130916130A2B10110911079A110A110A9E110A1758130A110A0631EB070659130F1713103805010000110911089A1611109E17131138D6000000110911089A1111175994175825130E130B110911079A1111941758130C110C110B2F04110C130B110911079A1111175994130D02111117596F3900000A03111017596F3900000A2E54110D1758130D1111173149111017314402111117596F3900000A03111018596F3900000A332E02111118596F3900000A03111017596F3900000A3318110911069A11111859941758130E110E110B2F04110E130B110911089A1111110D110B3204110B2B02110D9E1111110F5811103316110911089A1111941105310A2300000000000000002A1111175813111111063E22FFFFFF110613121107130611081307111213081110175813101110073EF3FEFFFF110911079A06946C13131113230000000000000000330A23000000000000F03F2A23000000000000F03F1113076C5B591313111304370311132A2300000000000000002A00133005008A00000007000011160A02282300000A2D14026F3B00000A6F3800000A1000026F3600000A0A062D02142A7201000070027207000070283C00000A1000026F3600000A18598D2E0000010B198D350000010C160D2B2F081602096F3900000A9D0817020917586F3900000A9D0818020918586F3900000A9D070908733D00000AA20917580D09026F3600000A185932C6072A0000133003009F010000080000117E070000042D1114FE0619000006733E00000A80070000047E070000040A02282300000A2D08026F3600000A2B01160B072D0A2300000000000000002A03282300000A2D08036F3600000A2B01160C082D0A2300000000000000002A0523000000000000F03F372E07082E0A2300000000000000002A02031B283700000A0D092C0A2300000000000000002A23000000000000F03F2A026F3800000A1000036F3800000A100106026F3F00000A130706036F3F00000A130811072C1011078E692C0A11082C0611088E692D0A2300000000000000002A1107280100002B13091108280100002B130A110A280200002B1109280200002B2F0C1109130B110A1309110B130A1109280200002B6C13041104110A280200002B6C58130C1109110A280300002B130D110D280200002B6C1305110C110559130611052300000000000000003651042300000000000000003509110511065B130E2B340423000000000000F03F3709110511045B130E2B1F110523000000000000F03F04595A11065B130E110E1105045A11045B58130E110E053703110E2A2300000000000000002A00133006007F0200000900001102282300000A2D08026F3600000A2B01160A062D0A2300000000000000002A03282300000A2D08036F3600000A2B01160B072D0A2300000000000000002A0423000000000000F03F372E06072E0A2300000000000000002A02031B283700000A0C082C0A2300000000000000002A23000000000000F03F2A06073110030D071304021001060B09100011040A026F3800000A1000036F3800000A100106130507185B175913061106162F03161306026F2500000A1307036F2500000A1308068D380000011309078D38000001130A230000000000000000130B16130C2B73110C110659162F03162B05110C110659130D110C11065807175931050717592B05110C110658130E110D130F2B39110A110F902D2C1107110C931108110F9333201109110C110A110F172513179C11179C110B23000000000000F03F58130B2B0C110F1758130F110F110E31C1110C1758130C110C063288110B230000000000000000330A2300000000000000002A16131023000000000000000013111613122B4711091112902C3A111013132B15110A1113902C081113175813102B0B11131758131311130732E6110711129311081113932E0E111123000000000000F03F58131111121758131211120632B4111169185B6C1311110B066C5B110B076C5B58110B111159110B5B582300000000000008405B1314111423666666666666E63F366C111423000000000000F03F345F11051A2F0411052B011A13151613162B06111617581316111611152F1E11071116931108111693331211071116931F3032DF11071116931F3930D6111616311F111411166C239A9999999999B93F5A23000000000000F03F1114595A581314111404370311142A2300000000000000002A0013300400A20200000A00001102282300000A2D08026F3600000A2B01160A062D0A2300000000000000002A03282300000A2D08036F3600000A2B01160B072D0A2300000000000000002A0523000000000000F03F372E06072E0A2300000000000000002A02031B283700000A0C082C0A2300000000000000002A23000000000000F03F2A06073110030D071304021001060B09100011040A05230000000000000000350D23000000000000000010032B12066C05076C5A340A2300000000000000002A026F3800000A1000036F3800000A100123000000000000000013051613060617591309071759130A2B14110617581306110523000000000000F03F581305110611092F341106110A2F2E0211066F3900000A0311066F3900000A2ECE2B1A110917591309110A1759130A110523000000000000F03F581305110911063218110A110632120211096F3900000A03110A6F3900000A2EC8110911065917581307110A110659175813081107163ED70000001108163ECF00000016130B17130C188D0100001B1313111316110717588D32000001A2111317110717588D32000001A21113130D17130E3884000000110D110C9A16169E17130F2B5F161310021106110F5817596F3900000A031106110E5817596F3900000A3310110D110B9A110F175994175813102B20110D110B9A110F941311110D110C9A110F1759941310111011112F0411111310110D110C9A110F11109E110F1758130F110F1107319B110B1312110C130B1112130C110E1758130E110E11083E73FFFFFF1105110D110B9A1107946C5813051105230000000000000000364D0423000000000000000035091105066C5B13052B300423000000000000F03F37091105076C5B13052B1B110523000000000000F03F04595A066C5B1105045A076C5B581305110505370311052A2300000000000000002A000013300200450000000B0000110F00283500000A10000F01283500000A10010203284300000A2C0A23000000000000F03F2A0203281C0000060A020328210000060B0607582300000000000008405B0C082A00000013300700360200000C0000110F00282100000A2D2A0F00282200000A282300000A2D1C0F01282800000A2D130F01282900000A1732090F02282400000A2C02142A0F00282200000A6F3B00000A0A066F3600000A2D02142A0F02282600000A0B0F01282900000A0C066F3600000A085817598D060000020D0813081108175945030000000500000049000000C300000038430100001613042B300911048F060000021104178D3500000113091109160611046F3900000A9D1109732600000681060000021104175813041104066F3600000A32C63867010000072D12720D000070067211000070283C00000A2B107215000070067215000070283C00000A0A1613052B3E0911058F060000021105188D35000001130A110A160611056F3900000A9D110A1706110517586F3900000A9D110A732600000681060000021105175813051105066F3600000A175932B638ED000000072D127201000070067207000070283C00000A2B107219000070067219000070283C00000A0A1613062B4C0911068F060000021106198D35000001130B110B160611066F3900000A9D110B1706110617586F3900000A9D110B1806110618586F3900000A9D110B732600000681060000021106175813061106066F3600000A185932A82B6806066F3600000A08581759072D03182B021F206F4400000A0A06066F3600000A08581759072D03192B021F206F4500000A0A1613072B230911078F060000021107061107086F4600000A732700000681060000021107175813071107066F3600000A0817595932CF092A0000133003002A0000000D00001102A5060000020A0312007B0F0000041758732C00000A810A0000010412007B10000004734700000A512A0000133007003E0000000E0000110F00282600000A0F01282600000A0F02282600000A0F03282600000A0F04282600000A0F05282600000A0F06282600000A28170000060A06734800000A2A000013300300660000000F0000110F00282100000A2D090F01282100000A2C067E4900000A2A0F00282200000A0A0F01282200000A0B0F02282800000A2D090F02282900000A2B01160C081728160000060D284A00000A1F0A2F071F0A284B00000A060709284C00000A13041104732E00000A2A00001330020023000000100000110F00282100000A2C067E4900000A2A0F00282200000A28180000060A06732E00000A2A00133003009D000000110000110F00282100000A2D120F01282100000A2D090F02282100000A2C067E4D00000A2A0F00282200000A0A0F01282200000A0B0F02282200000A0C0F03282800000A2D090F03282900000A2B01160D091728160000061304284A00000A1F0A2F071F0A284B00000A06071104284E00000A130511056F4F00000A2D077E4D00000A2B1711056F5000000A086F5100000A6F5200000A732D00000A130611062A000000133004007A000000120000110F00282100000A2D120F01282100000A2D090F02282100000A2C067E4D00000A2A0F00282200000A0A0F01282200000A0B0F02282200000A0C0F03282800000A2D090F03282900000A2B01160D091728160000061304284A00000A1F0A2F071F0A284B00000A0607081104285300000A13051105732D00000A2A000013300400A6000000130000110F00282100000A2D090F01282100000A2C02142A0F00282200000A0A0F01282200000A0B0F02282800000A2D090F02282900000A2B01160C081728160000060D284A00000A1F0A2F071F0A284B00000A060709285400000A130411046F5500000A8D0700000213051613062B2B110511068F0700000211061758110411066F5600000A6F5200000A73280000068107000002110617581306110611046F5500000A32CA11052A0000133003002C0000001400001102A5070000020A0312007B11000004732C00000A810A0000010412007B12000004732D00000A81070000012A13300500F1000000150000110F00282100000A2D090F01282100000A2C02142A0F00282200000A0A0F01282200000A0B0F03282800000A2D090F03282900000A2B01160C081728160000060D284A00000A1F0A2F071F0A284B00000A060709285700000A130411048E698D0800000213050F02282100000A2C321613062B23110511068F0800000211061758110411069A1773290000068108000002110617581306110611048E6932D52B4E0F02282200000A09732A00000A13071613082B321107110411089A6F2B00000A1309110511088F0800000211081758110411089A110973290000068108000002110817581308110811048E6932C611052A000000133003003E0000001600001102A5080000020A0312007B13000004732C00000A810A0000010412007B14000004732D00000A81070000010512007B15000004732E00000A81080000012A0000133002005E00000017000011032D03162B011E0A0216315002175F163108062000020000600A02185F163104061A600A021A5F1631040617600A021E5F163105061F20600A021F105F1631040618600A021F205F163105061F40600A021F405F163105061F10600A062A000013300200420000000E000011160A022C05061758D20A032C05061858D20A042C05061A58D20A052C05061E58D20A0E042C06061F1058D20A0E052C06061F2058D20A0E062C06061F4058D20A062A00001B30030022000000180000110216732A00000A0A066F5800000A1760163104170BDE09DE0526160BDE02172A072A00000110000000000000191900053E000001133002001F00000019000011735900000A0A06166F5A00000A06285B00000A6F5C00000A0680060000042A5A02037D0800000402047D0900000402057D0A0000042A0000133003008F0000001A0000117E0B00000417952D05281F0000067E0B0000040F00285E00000A950A7E0B0000040F00285F00000A950B7E0B0000040F01285E00000A950C7E0B0000040F01285F00000A950D0608281D0000060709281D000006581304110423000000000000004034280609281D0000060807281D000006581305110523AE47E17A14AEEF3F5A130511051104360311052A11042A0013300200180000001B00001102035F281E0000066C0A020360281E0000066C0B06075B2A13300200220000001C000011022C0402173302022A160A2B0F02175F1733040617580A0217641000021635ED062A00000C0000001E0000001F00000013300500D40100001D000011170A38C401000017061F1F5F620B198D3200000125D016000004286000000A13051613062B5C11051106940C0608304C071708065817591859085D17581F1F5F62600B071708065817591759085D17581F1F5F62600B071708065817591758085D17581F1F5F62600B071708065817591858085D17581F1F5F62600B110617581306110611058E69329C061F0930570619300C0717061F0A5A1F1F5F62600B0617330A072080000000600B2B08061D33040718600B0617330A072000082080600B2B160717061F0A581F1F5F6217061F14581F1F5F6260600B0720FE030000600B38D8000000061F0A5B0D061F0A5D1304110417330E07171F0A09581F1F5F62600B2B28110418330E07171F1409581F1F5F62600B2B1509173311110419330C07171F1E09581F1F5F62600B061F1F2F2811041733100717091F0A5A1D581F1F5F62600B2B1311041D330E0717091F0A5A17581F1F5F62600B11042D0A072000041040600B2B2F110417330A072002082080600B2B20071711041F1F5F62171F0A1104581F1F5F6260171F141104581F1F5F6260600B0917330A072000FC0F00600B2B1A0918330A07200000F03F600B2B0C091933080720000000C0600B7E0B00000406079E061758D20A061F1F3E34FEFFFF2A361F208D46000001800B0000042A000013300300760000001E0000110228220000060A0328220000060B12007B0D000004736100000A12017B0D000004286200000A12007B0E00000412017B0E000004286300000A28230000066C0C12007B0D000004736100000A12017B0D000004286400000A12007B0E00000412017B0E000004286300000A28230000066C0D08095B2A000013300400F70000001F0000117E0C000004168F050000027B0D0000042D052824000006198D3200000113041104160F00286500000A1F645B9E1104170F00286500000A1F0A5B1F645D9E1104180F00286500000A1F645D9E11040A7E0C0000040616948F050000027B0D000004736100000A0B077E0C0000040617948F050000027B0D0000046F6400000A7E0C0000040618948F050000027B0D0000046F6400000A0B7E0C0000040616948F050000027B0E0000047E0C0000040617948F050000027B0E000004286300000A0C087E0C0000040618948F050000027B0E000004286300000A0C1205FE150500000211050D1203077D0D0000041203087D0E000004092A00133002001D00000020000011160A160B2B1102076F6600000A2C040617580A0717580B070331EB062A000000133003009201000021000011160A38820100001F64736700000A0B0706176F6800000A071F64065817591F645D176F6800000A071F64065818591F645D176F6800000A071F64065817581F645D176F6800000A071F64065818581F645D176F6800000A061F09304C07061F0A5A176F6800000A0617330A071D176F6800000A2B0C061D33080717176F6800000A160C2B1907081F0A5A0658176F6800000A0708176F6800000A0817580C081F0A32E2388F000000061F0A5B0D061F0A5D13040711041F0A5A0958176F6800000A0917330E071F46110458176F6800000A2B10091D330C071F0A110458176F6800000A110417330F07091F0A5A1D58176F6800000A2B1211041D330D07091F0A5A1758176F6800000A1613052B230711051F0A5A110458176F6800000A07091F0A5A110558176F6800000A11051758130511051F0A32D7076F6900000A1759D213062B0711061759D213060711066F6600000A2CEF7E0C000004068F050000021208FE1505000002110813071207077D0D000004120711067D0E00000411078105000002061758D20A061F643F76FEFFFF2A361F648D05000002800C0000042A3E02037D0F00000402047D100000042A3A0203046F2500000A28260000062A3E02037D1100000402047D120000042A5A02037D1300000402047D1400000402057D150000042A000042534A4201000100000000000C00000076322E302E35303732370000000005006C000000580C0000237E0000C40C0000800D000023537472696E677300000000441A00002000000023555300641A0000100000002347554944000000741A0000741B000023426C6F620000000000000002000001579D0228090A000000FA01330016000001000000470000000A00000016000000290000006A000000690000000500000027000000020000002100000002000000010000000100000005000000070000000300000000000A000100000000000600D700D0000600DE00D0000A006C0161010E00AE0199010E00B70199010600DE01CB010E00EA0199010E00F40199010E00FF0199010E00160299010E00350299010E004A0299010600C602D0001200AD038E0306003804CB010600BA049B0406004706350606005E06350606007B06350606009A0635060600B30635060600CC0635060600E706350606000207350606001B079B0406002F07350606004807D00006005E079B0406007D076C070600BF079F070600EB07D8077F00FF07000006002E080E0806004E080E080E0087086C080A00BF08B0080A00D408610106000509F00806003009260906003D09D0000A004D0961010600570926090A006909B0080A007A09610106009009D0000600C309D0000600EF09D0001200080A8E0306002F0AD0000600590AD00016008D0AD0000600BB0A0E080600E20AD0001600FA0AEE0A0600200B050B0600470BD0001200920B8E031200980B8E031200AA0B8E031200CE0B8E031200DE0B8E0306000C0CD0000A00250C61010600570C4B0C0600790C9B0406008F0C9B040600220D0E080600310DD0000600370DD00006005A0DD0000600650DD00000000000010000000000010001008101100037003E000500010001000B01100067000000090008001B000B0110007C00000009000B001C000B0110008A00000009000C0021000B0110009400000009000F0026000B0110009A0000000900110028000B011000AD00000009001300290000000000AC0C0000050016002A0013010000F10C0000090017002A005180E8000A00518004010A0051801701C300518026010A00518040010A0031007E0118011100940AFA090600F603C3000600FF030A0006000504F3013100280408023100280410020100410415020100470419020600F603C300060059042A020600F603C3000600FF030A000600F603C3000600FF030A0006000504F30113010E0DE418D020000000009600BE011C01010058210000000096000702250103006C220000000096001F0234010800B8220000000096003F0242010C00B8230000000096005602510111000C2400000000910065025A0113003C270000000091007B0261011600E8280000000091008D025A011A00742B000000009100A30261011D00242E000000009100CF0269012100782E000000009600EC0271012300BC30000000009600F3027C012600F43000000000960000038701290040310000000096000A039A013000B4310000000096001703A5013300E4310000000096002403AC01340090320000000096003103AC01380018330000000096003E03B9013C00CC330000000096004B03C4013F0004340000000096005F03CF01420004350000000096007303340146005035000000009100BA03DC014A00BC35000000009100CF03E3014C000C36000000009100E203EE015300A426000000009100690AF40954004C360000000091181E0C0C02550077360000000086180D04F601550090360000000096001304690158002C370000000091001304FD015A0050370000000091001B0403025C008C370000000091002E040C025D006C390000000091181E0C0C025D007C39000000009600130469015D00003A00000000910050041C025F00043B0000000091001B0423026000303B0000000091002E040C026200CE3C0000000091181E0C0C026200DC3C0000000086180D042E026200EC3C0000000086180D0435026400FB3C0000000086180D04350266000B3D0000000086180D04F6016800000001005E04000002006204000001006704000002006D0400000300780400000400840400000500910400000100960402000200F60302000300FF0302000400050400000100C70400000200CE0400000300D50400000400DC0400000500EC0400000100C70400000200CE0400000100C70400000200CE0400000300EC0400000100C70400000200CE0400000300DC0400000400EC0400000100C70400000200CE0400000300EC0400000100C70400000200CE0400000300FB0400000400EC04000001000B0500000200110500000100670400000200170500000300190500000100960402000200F603020003005904000001002205000002003305000003004305000004004E05000005006605000006007005000007007C05000001006704000002008705000003009104000001008705000001006704000002008705000003008F0500000400910400000100670400000200870500000300950500000400910400000100670400000200870500000300910400000100960402000200F60302000300FF03000001006704000002009D0500000300840400000400910400000100960402000200F60302000300FF0302000400050400000100910400000200AA0500000100BA0500000200CB0500000300DB0500000400E60500000500FE0500000600080600000700140600000100870500000100670400000100F60300000200FF03000003000504000001000B05000002001105000001001F06000002002206000001004104000001000B05000002001105000001002506000001002A0600000200470400000100F60300000200300600000100F60300000200330600000100F60300000200FF0300000100F60300000200FF0300000300050481000D043B0289000D043F0291000D043F0299000D043F02A1000D043F02A9000D043F02B1000D043F02B9000D043F02C1000D043F02C9000D044402D1000D043F02D9000D044402E1000D043F02E9000D043F02F1000D044902F9000D044F0209010D04560211010D043B0219010D043B0229009C0859042100A7085D0421010D043B022900DE0862042101EB086804310111096F0439010D047504490162097C0421018609870469019C093B020900A40997043900AD099B0421000D04A10439009C0859043900B90997047101CA09EE0141009C0859047101D8097A064100E40959047101020A7F0649009C0859044900B909890681010D048D0681010E0A940651000D04560239000D043F0241000D04440259009C0859045900160A3F085900B909430859000D04470861009C0859046100B909B20969001B0AB2097101240AC3097101400AC7097101480A970471015F0AD309A1010D043B027101D60A97047101DB0A090A71010D04100A14000D04280A1400E70A2E0AB1012E0B350AB101370B4B0AB1013D0B570A69004F0B180B71015B0B780D7101630B780D71016C0B7E0D21000D04100A49000D04F60E4100160A5B108101760B5F108101840B631081010E0A68103900160A35138101920B3913D1019E0B5904C901BA0B4313D901C50B4913E101B90997048101D60BBA148101EE0B8A16E901F60BC309E901C50B94168101020A80188101000CA61819000D043B021900360CB2180102600CB91819006C0CBF1809020D04CB1869009A0CC3096900A20CC30919024A0DE81879000D04FD187900610D031939026A0D0A1979006E0D03196900710DC3097900C50B271979000D04560279007A0D31197900F60BC3090E0004000D000E000800780008000C00C6000E001000CB000E0014000D0020009B00FD022E008B004B1B2E008300421B2E009300541B2E00130046192E001B0074192E00230074192E002B007A192E00330089192E003B0074192E00430074192E00530074192E006300AD192E006B00B3192E007300DD192E007B00E8192E007B00391A2E007B00CA1A40009B00B30460007B00B00680009B00E506A0009B005408E100D301040A00017B009F0A2301D301040A60017B00260B60017B00750B60019B00C90B80017B00B006A0019B009D0DC0019B00FF0EE0019B00791000029B00D91120029B005E1340029B00CD1460027B00B00680029B00AF16A0027B00B0062003D301040A000001000000040001000C0000000A00A7049906E0064C08B709D809160A700ADE0AFD0A200B840D980DFB0E7010D5115013C3149B16AA1689189C18A118AB18C618D218DB18E018F218101919192C193719D0091F0A803700001600048000000100000000000000010000005B023E0000000200000000000000000000000100C70000000000020000000000000000000000010061010000000002000000000000000000000001008D01000000000200000000000000000000000100D000000000000300050000000000000000000100810A000000000300020004000200050002000600020007000200080002000A0009008100470A8300470A8500470A0000003C4D6F64756C653E004D6963726F736F66742E4D61737465724461746153657276696365732E446174615175616C6974792E646C6C0053716C436C72004D6963726F736F66742E4D61737465724461746153657276696365732E446174615175616C6974790053706C697457697468436865636B53747275637400426C6F6F6D4D6F6E746844617900426C6F6F6D59656172004E4772616D0052656765784D61746368657353747275637400526567657853706C697457697468436865636B537472756374006D73636F726C69620053797374656D004F626A6563740056616C7565547970650053706C697457697468436865636B46696C6C526F77536368656D61004E4772616D46696C6C526F77536368656D61007265676578436163686553697A650052656765784D61746368657346696C6C526F77536368656D6100526567657853706C697457697468436865636B46696C6C526F77536368656D610053797374656D2E586D6C00586D6C57726974657253657474696E6773006F757470757453657474696E67730053797374656D2E446174610053797374656D2E446174612E53716C54797065730053716C43686172730053716C586D6C00586D6C5472616E73666F726D0053797374656D2E436F6C6C656374696F6E730049456E756D657261626C650053716C537472696E670053716C426F6F6C65616E0053716C427974650053706C697457697468436865636B0053716C496E7433320053706C697457697468436865636B46696C6C526F770053716C446F75626C650053696D696C61726974790053716C4461746554696D650053696D696C6172697479446174650053696D696C61726974794C6576656E73687465696E0053696D696C61726974794A6163636172640053696D696C61726974794A61726F57696E6B6C65720053696D696C61726974794C6F6E67657374436F6D6D6F6E53756273657175656E6365004461746554696D650053696D696C6172697479446174654772616E744469636B696E736F6E004E4772616D73004E4772616D46696C6C526F770052656765784D61736B00526567657849734D61746368005265676578497356616C6964005265676578457874726163740052656765785265706C6163650052656765784D6174636865730052656765784D61746368657346696C6C526F7700526567657853706C697457697468436865636B00526567657853706C697457697468436865636B46696C6C526F770053797374656D2E546578742E526567756C617245787072657373696F6E730052656765784F7074696F6E730052656765784F7074696F6E7346726F6D4D61736B0052656765784F7074696F6E73546F4D61736B00497356616C696452656765785061747465726E0073657175656E636500746F6B656E00697356616C6964002E63746F72004A61636361726400436F756E7453657442697473007461626C65004C6F61645461626C6500426974417272617900626C6F6F6D006D6178496E64657800476574426C6F6F6D006772616D00786D6C0078736C7400696E70757400736570617261746F72730072656D6F7665456D70747900746F6B656E5061747465726E006D61736B00646174610053797374656D2E52756E74696D652E496E7465726F705365727669636573004F757441747472696275746500696E7075743100696E70757432006D6574686F6400636F6E7461696E6D656E74426961730073636F72655468726573686F6C64006C656E6774685468726573686F6C64006461746531006461746532006E0070616453706163650063756C74757265496E76617269616E74006578706C69636974436170747572650069676E6F7265436173650069676E6F72655061747465726E57686974655370616365006D756C74696C696E65007269676874546F4C6566740073696E676C654C696E65007061747465726E0067726F7570007265706C6163650073706C69745061747465726E00696E636C756465436F6D70696C65640043756C74757265496E76617269616E74004578706C69636974436170747572650049676E6F7265436173650049676E6F72655061747465726E57686974657370616365004D756C74696C696E65005269676874546F4C6566740053696E676C656C696E6500623100623200646174650076616C756500636100730053797374656D2E5265666C656374696F6E00417373656D626C795469746C6541747472696275746500417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C7475726541747472696275746500436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E41747472696275746500434C53436F6D706C69616E7441747472696275746500477569644174747269627574650053797374656D2E5265736F7572636573004E65757472616C5265736F75726365734C616E67756167654174747269627574650053797374656D2E446961676E6F73746963732E436F6465416E616C797369730053757070726573734D6573736167654174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465004D6963726F736F66742E53716C5365727665722E5365727665720053716C46756E6374696F6E417474726962757465006765745F49734E756C6C006765745F4E756C6C0053797374656D2E586D6C2E58736C0058736C436F6D70696C65645472616E73666F726D00586D6C52656164657200437265617465526561646572004C6F61640053797374656D2E476C6F62616C697A6174696F6E0043756C74757265496E666F006765745F496E76617269616E7443756C747572650053797374656D2E494F00537472696E675772697465720049466F726D617450726F766964657200586D6C5772697465720054657874577269746572004372656174650058736C74417267756D656E744C69737400586D6C5265736F6C766572005472616E73666F726D0049446973706F7361626C6500446973706F736500546F537472696E67006F705F496D706C69636974006765745F56616C756500537472696E670049734E756C6C4F72456D70747900546F436861724172726179006765745F49735472756500537472696E6753706C69744F7074696F6E730053706C69740052656765780049734D61746368004E756C6C006765745F44617465006765745F4C656E67746800537472696E67436F6D70617269736F6E00436F6D7061726500546F5570706572496E76617269616E7400496E743332006765745F4368617273003C53696D696C61726974794A6163636172643E625F5F300053797374656D2E436F72650046756E636032004353243C3E395F5F436163686564416E6F6E796D6F75734D6574686F6444656C65676174653100436F6D70696C657247656E657261746564417474726962757465005472696D00436F6E636174004368617200496E766F6B650053797374656D2E4C696E7100456E756D657261626C650053797374656D2E436F6C6C656374696F6E732E47656E657269630049456E756D657261626C6560310044697374696E637400436F756E7400496E7465727365637400426F6F6C65616E006F705F457175616C697479005061644C65667400506164526967687400537562737472696E67006765745F436163686553697A65007365745F436163686553697A65004D617463680047726F7570006765745F537563636573730047726F7570436F6C6C656374696F6E006765745F47726F757073006765745F4974656D0043617074757265005265706C616365004D61746368436F6C6C656374696F6E004D617463686573006765745F436F756E74006765745F4F7074696F6E7300417267756D656E74457863657074696F6E002E6363746F7200436F6E666F726D616E63654C6576656C007365745F436F6E666F726D616E63654C6576656C0053797374656D2E5465787400456E636F64696E67006765745F556E69636F6465007365745F456E636F64696E67005374727563744C61796F7574417474726962757465004C61796F75744B696E64006765745F446179006765745F4D6F6E7468003C50726976617465496D706C656D656E746174696F6E44657461696C733E7B41334641333041332D394534362D343134372D423644382D4630463638304535433337357D005F5F5374617469634172726179496E69745479706553697A653D31320024246D6574686F643078363030303031642D310052756E74696D6548656C706572730041727261790052756E74696D654669656C6448616E646C6500496E697469616C697A6541727261790055496E74333200416E64004D617468004D6178004F72006765745F59656172005365740000000005020002000105030003000103020001030300010320000005200020000000A330FAA3469E4741B6D8F0F680E5C3750008B77A5C561934E08902060E6A5B00530065007100750065006E00630065005D00200049004E0054002C0020005B0054006F006B0065006E005D0020004E0056004100520043004800410052002800340030003000300029002C0020005B0049007300560061006C00690064005D0020004200490054004A5B00530065007100750065006E00630065005D00200049004E0054002C0020005B0054006F006B0065006E005D0020004E00560041005200430048004100520028003200350035002900020608040A0000004C5B00530065007100750065006E00630065005D00200049004E0054002C0020005B0054006F006B0065006E005D0020004E0056004100520043004800410052002800340030003000300029000306120D0800021211121512150E00051219111D111D1121111D11250D0004011C10112910111D1011210E0005112D111D111D1125112D112D080002112D113111310600030D0E0E0D0700040D0E0E0D0D0700020D113511350A00031219111D112511210A0003011C101129101211120007112511211121112111211121112111210A00031121111D111D11250600011121111D0C0004111D111D111D111D11250A00031219111D111D11250A0003011C10112910111D0C00041219111D111D111D1125060002113905020A00070502020202020202040001020E02060206200301080E020500020D0909040001080903061D090300000104061D11140306123D0206050600011114113506000208123D0803061D0306200201081D0305200201080E03200001042001010E0420010102052002010E0E06200101118081042001010880A000240000048000009400000006020000002400005253413100040000010001009F0761CC1669C6C9958A11D738C26215B042A02D893975DEEC2DEBE291AD177ADB1407EC72C07E00E504EB0066F495D5BEB989B4B05783C358960C360150D4BCD6A1685531ED50FD4F1DEBAD1C0BEC21948FD39D770BF39AA5DBFC284106AFEFD5077BEF58C033D6DDA53C6E6C9E3116DC035DD166BA5FB43C0F81470DB90ABE815A0100050054020F497344657465726D696E697374696301540E044E616D650C586D6C5472616E73666F726D5455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D44617461416363657373000000005402094973507265636973650103200002040000121105200012809506200101128095050000128099062001011280A10A00021280A51280A9120D0F2004011280951280AD1280A51280B10320000E050001111D0E05200101111D0B070312809112809D1280A581C50100070054020F497344657465726D696E697374696301540E044E616D650553706C6974540E1146696C6C526F774D6574686F644E616D651553706C697457697468436865636B46696C6C526F77540E0F5461626C65446566696E6974696F6E355B53657175656E63655D20494E542C205B546F6B656E5D204E564152434841522834303030292C205B497356616C69645D204249545455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540209497350726563697365010420001D030920021D0E1D031180BD03200005062002010E1139042001020E16070B0E1D031180BD1D0E1D110C080511391280C108022F0100104D6963726F736F66742E44657369676E194341313032313A41766F69644F7574506172616D65746572730000040701110C81580100050054020F497344657465726D696E697374696301540E044E616D650A53696D696C61726974795455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540209497350726563697365000306112D0320000D042001010D0707050D0D0D0D05815C0100050054020F497344657465726D696E697374696301540E044E616D650E53696D696C6172697479446174655455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D44617461416363657373000000005402094973507265636973650004200011350B0705113511350D1135113503200008080003080E0E1180C5021D0804200103081B07150808080E08080808081D1D080808080808080808080D1D1D080500011D0E0E0906151280CD020E1D0E04010000000600030E0E0E0E052001011D03080704081D0E1D030808151280CD020E1D0E052002011C180620011301130011100101151280DD011E00151280DD011E00030A010E0B10010108151280DD011E0018100102151280DD011E00151280DD011E00151280DD011E002E070F151280CD020E1D0E0808080D0D0D1D0E1D0E151280DD010E151280DD010E151280DD010E0D151280DD010E0D3E0100194D6963726F736F66742E4D61696E7461696E6162696C6974791F4341313530323A41766F6964457863657373697665436F6D706C657869747900001E07180808080E0808081D031D031D021D020D08080808080D08080D0808021A07140808080E080D080808080808081D1D0808080808081D1D0807000202113511350507030D0D0D4E0100104D6963726F736F66742E4E616D696E672A4341313730343A4964656E7469666965727353686F756C6442655370656C6C6564436F72726563746C790100540E094D6573736167654964016E530100104D6963726F736F66742E4E616D696E672A4341313730343A4964656E7469666965727353686F756C6442655370656C6C6564436F72726563746C790100540E094D6573736167654964064E4772616D7381AD0100070054020F497344657465726D696E697374696301540E044E616D65064E4772616D73540E1146696C6C526F774D6574686F644E616D650C4E4772616D46696C6C526F77540E0F5461626C65446566696E6974696F6E255B53657175656E63655D20494E542C205B546F6B656E5D204E5641524348415228323535295455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540209497350726563697365010520020E08030520020E080813070C0E02051D111808080808051D031D031D03040701111881570100050054020F497344657465726D696E697374696301540E044E616D650952656765784D61736B5455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D446174614163636573730000000054020949735072656369736501042001010503070105815A0100050054020F497344657465726D696E697374696301540E044E616D650C526567657849734D617463685455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D44617461416363657373000000005402094973507265636973650103061121030000080400010108070003020E0E11390807050E0E05113902815A0100050054020F497344657465726D696E697374696301540E044E616D650C5265676578497356616C69645455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D44617461416363657373000000005402094973507265636973650103070102815A0100050054020F497344657465726D696E697374696301540E044E616D650C5265676578457874726163745455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540209497350726563697365010306111D0900031280E50E0E11390520001280ED0620011280E90E0D07070E0E0E0511391280E5111D815A0100050054020F497344657465726D696E697374696301540E044E616D650C52656765785265706C6163655455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540209497350726563697365010800040E0E0E0E11390907060E0E0E0511390E81BB0100070054020F497344657465726D696E697374696301540E044E616D650C52656765784D617463686573540E1146696C6C526F774D6574686F644E616D651352656765784D61746368657346696C6C526F77540E0F5461626C65446566696E6974696F6E265B53657175656E63655D20494E542C205B546F6B656E5D204E564152434841522834303030295455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540209497350726563697365010900031280F50E0E11390620011280E5080E07070E0E0511391280F51D111C08040701111C81CF0100070054020F497344657465726D696E697374696301540E044E616D650A526567657853706C6974540E1146696C6C526F774D6574686F644E616D651A526567657853706C697457697468436865636B46696C6C526F77540E0F5461626C65446566696E6974696F6E355B53657175656E63655D20494E542C205B546F6B656E5D204E564152434841522834303030292C205B497356616C69645D204249545455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540209497350726563697365010800031D0E0E0E113912070A0E0E0511391D0E1D1120081280C108020407011120040701113904200011390607021280C102062001011180FD05000012810106200101128101040701120D06200101118109080706090909090D0D0407020D0D0307010803061128090002011281111181150A070705080808081D080805200101123D062001123D123D050002050505080704111411140D0D0D07061D08123D0511141D081114042001020804070208080520020108020E070905123D0808080805111411142D0100284D6963726F736F66742E4D61737465724461746153657276696365732E446174615175616C69747900000501000000000E0100094D6963726F736F667400002301001E4D6963726F736F6674204D6173746572204461746120536572766963657300000501000100002901002445323733393339462D354545332D343030322D423230332D39373632373335323032433800000A010005656E2D55530000500100104D6963726F736F66742E4E616D696E672A4341313730343A4964656E7469666965727353686F756C6442655370656C6C6564436F72726563746C790100540E094D6573736167654964034D646D808F0100104D6963726F736F66742E4E616D696E672A4341313730343A4964656E7469666965727353686F756C6442655370656C6C6564436F72726563746C790300540E094D6573736167654964034D646D540E0553636F7065096E616D657370616365540E06546172676574234D6963726F736F66742E4D61737465724461746153657276696365732E53716C436C72770100104D6963726F736F66742E44657369676E224341313032303A41766F69644E616D657370616365735769746846657754797065730200540E0553636F7065096E616D657370616365540E06546172676574234D6963726F736F66742E4D61737465724461746153657276696365732E53716C436C720801000300000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010000000000AB1C6A4B0000000002000000780000002873000028550000525344533558C34515223F47A4021DC9FF6A80AB01000000453A5C53514C5C4B4A5F537461625C53716C5C6D64735C6465765C44425C7372635C53716C436C725C6F626A5C44656275675C4D6963726F736F66742E4D61737465724461746153657276696365732E446174615175616C6974792E70646200C87300000000000000000000DE730000002000000000000000000000000000000000000000000000D07300000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020400000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058800000B00300000000000000000000B00334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001000000000000000100000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B00410030000010053007400720069006E006700460069006C00650049006E0066006F000000EC020000010030003000300030003000340062003000000034000A00010043006F006D00700061006E0079004E0061006D006500000000004D006900630072006F0073006F006600740000007C0029000100460069006C0065004400650073006300720069007000740069006F006E00000000004D006900630072006F0073006F00660074002E004D00610073007400650072004400610074006100530065007200760069006300650073002E0044006100740061005100750061006C0069007400790000000000300008000100460069006C006500560065007200730069006F006E000000000031002E0030002E0030002E00300000007C002D00010049006E007400650072006E0061006C004E0061006D00650000004D006900630072006F0073006F00660074002E004D00610073007400650072004400610074006100530065007200760069006300650073002E0044006100740061005100750061006C006900740079002E0064006C006C00000000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000084002D0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004D006900630072006F0073006F00660074002E004D00610073007400650072004400610074006100530065007200760069006300650073002E0044006100740061005100750061006C006900740079002E0064006C006C000000000060001F000100500072006F0064007500630074004E0061006D006500000000004D006900630072006F0073006F006600740020004D00610073007400650072002000440061007400610020005300650072007600690063006500730000000000340008000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000007000000C000000F03300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE

GO
/****** Object:  Schema [COMMON]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE SCHEMA [COMMON]
GO
/****** Object:  Schema [GDELT20]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE SCHEMA [GDELT20]
GO
/****** Object:  Schema [mdq]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE SCHEMA [mdq]
GO
/****** Object:  Schema [SSIS]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE SCHEMA [SSIS]
GO
/****** Object:  Schema [stg]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE SCHEMA [stg]
GO
/****** Object:  Schema [test]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE SCHEMA [test]
GO
USE [GDELT]
GO
/****** Object:  Sequence [dbo].[SeqActorFullKey]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE SEQUENCE [dbo].[SeqActorFullKey] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [GDELT]
GO
/****** Object:  Sequence [dbo].[SeqGeoKey]    Script Date: 2016-09-11 08:57:10 AM ******/
CREATE SEQUENCE [dbo].[SeqGeoKey] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  UserDefinedFunction [mdq].[NGrams]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [mdq].[NGrams](@input [nvarchar](4000), @n [tinyint], @padSpace [bit])
RETURNS  TABLE (
	[Sequence] [int] NULL,
	[Token] [nvarchar](255) NULL
) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [Microsoft.MasterDataServices.DataQuality].[Microsoft.MasterDataServices.DataQuality.SqlClr].[NGrams]
GO
/****** Object:  UserDefinedFunction [mdq].[Similarity]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [mdq].[Similarity](@input1 [nvarchar](4000), @input2 [nvarchar](4000), @method [tinyint], @containmentBias [float], @minScoreHint [float])
RETURNS [float] WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [Microsoft.MasterDataServices.DataQuality].[Microsoft.MasterDataServices.DataQuality.SqlClr].[Similarity]
GO
/****** Object:  UserDefinedFunction [mdq].[SimilarityDate]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [mdq].[SimilarityDate](@date1 [datetime], @date2 [datetime])
RETURNS [float] WITH EXECUTE AS CALLER, RETURNS NULL ON NULL INPUT
AS 
EXTERNAL NAME [Microsoft.MasterDataServices.DataQuality].[Microsoft.MasterDataServices.DataQuality.SqlClr].[SimilarityDate]
GO
/****** Object:  Table [COMMON].[DimDate]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [COMMON].[DimDate](
	[DATE_KEY] [int] NOT NULL,
	[FULL_DATE] [datetime2](0) NOT NULL,
	[DATE_YYYYMMDD] [varchar](10) NULL,
	[DATE_MMDDYYYY] [varchar](10) NULL,
	[DATE_DDMMYYYY] [varchar](10) NULL,
	[DAY_OF_WEEK] [smallint] NULL,
	[DAY_OF_WEEK_NAME] [varchar](10) NULL,
	[DAY_OF_WEEK_ABBREVIATION] [varchar](3) NULL,
	[DAY_OF_MONTH] [smallint] NULL,
	[DAY_OF_YEAR] [smallint] NULL,
	[WEEKDAY_WEEKEND] [varchar](7) NULL,
	[IS_WEEKDAY] [tinyint] NULL,
	[WEEK_OF_YEAR] [tinyint] NULL,
	[MONTH_NAME] [varchar](10) NULL,
	[MONTH_ABBREVIATION] [varchar](3) NULL,
	[MONTH_OF_YEAR] [smallint] NULL,
	[IS_LAST_DAY_OF_MONTH] [tinyint] NULL,
	[CALENDAR_QUARTER] [smallint] NULL,
	[CALENDAR_QUARTER_NAME] [varchar](3) NULL,
	[CALENDAR_YEAR] [smallint] NULL,
	[CALENDAR_YEAR_NAME] [varchar](7) NULL,
	[CALENDAR_YEAR_MONTH] [varchar](16) NULL,
	[CALENDAR_YEAR_QUARTER] [varchar](12) NULL,
	[FISCAL_MONTH_OF_YEAR] [smallint] NULL,
	[FISCAL_QUARTER] [smallint] NULL,
	[FISCAL_QUARTER_NAME] [varchar](3) NULL,
	[FISCAL_YEAR] [smallint] NULL,
	[FISCAL_YEAR_NAME] [varchar](10) NULL,
	[FISCAL_YEAR_MONTH] [varchar](19) NULL,
	[FISCAL_YEAR_QUARTER] [varchar](15) NULL,
	[LAST_DAY_OF_WEEK] [datetime2](0) NOT NULL,
	[LAST_DAY_OF_MONTH] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DATE_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[DATE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [COMMON].[DimFlag]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [COMMON].[DimFlag](
	[FlagKey] [tinyint] NOT NULL,
	[FlagDesc] [varchar](255) NOT NULL,
 CONSTRAINT [PK_DimFlag] PRIMARY KEY CLUSTERED 
(
	[FlagKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GDELT20].[DimActor]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GDELT20].[DimActor](
	[ActorKey] [int] NOT NULL CONSTRAINT [DFT_DimActorFull_ActorKey]  DEFAULT (NEXT VALUE FOR [dbo].[SeqActorFullKey]),
	[ActorName] [varchar](255) NOT NULL,
	[ActorCode] [varchar](50) NOT NULL,
	[ActorCountryCode] [varchar](50) NULL,
	[ActorCountryDesc] [varchar](255) NULL,
	[ActorKnownGroupCode] [varchar](50) NULL,
	[ActorKnownGroupDesc] [varchar](255) NULL,
	[ActorEthnicCode] [varchar](50) NULL,
	[ActorEthnicDesc] [varchar](255) NULL,
	[ActorReligion1Code] [varchar](50) NULL,
	[ActorReligion1Desc] [varchar](255) NULL,
	[ActorReligion2Code] [varchar](50) NULL,
	[ActorReligion2Desc] [varchar](255) NULL,
	[ActorType1Code] [varchar](50) NULL,
	[ActorType1Desc] [varchar](255) NULL,
	[ActorType2Code] [varchar](50) NULL,
	[ActorType2Desc] [varchar](255) NULL,
	[ActorType3Code] [varchar](50) NULL,
	[ActorType3Desc] [varchar](255) NULL,
 CONSTRAINT [PK_DimActorFull] PRIMARY KEY CLUSTERED 
(
	[ActorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GDELT20].[DimEventCode]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GDELT20].[DimEventCode](
	[EventCodeKey] [int] NOT NULL,
	[EventCode] [varchar](10) NOT NULL,
	[EventDescription] [varchar](255) NOT NULL,
	[EventBaseCode] [varchar](10) NOT NULL,
	[EventBaseDescription] [varchar](255) NOT NULL,
	[EventRootCode] [varchar](10) NOT NULL,
	[EventRootDescription] [varchar](255) NOT NULL,
 CONSTRAINT [PK_DimEventCode] PRIMARY KEY CLUSTERED 
(
	[EventCodeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GDELT20].[DimGeo]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GDELT20].[DimGeo](
	[GeoKey] [int] NOT NULL CONSTRAINT [DFT_DimGeo_GeoKey]  DEFAULT (NEXT VALUE FOR [dbo].[SeqGeoKey]),
	[GeoFullname] [varchar](255) NULL,
	[GeoCountryCode] [varchar](4) NULL,
	[GeoCountryDesc] [varchar](255) NULL,
	[GeoADM1Code] [varchar](4) NULL,
	[GeoADM1Desc] [varchar](255) NULL,
	[GeoADM2Code] [varchar](255) NULL,
	[GeoFeatureID] [varchar](255) NULL,
	[GeoLat] [decimal](9, 6) NULL,
	[GeoLong] [decimal](9, 6) NULL,
	[GeoTypeCode] [int] NULL,
	[GeoTypeDesc] [varchar](255) NULL,
 CONSTRAINT [PK_DimGeo] PRIMARY KEY CLUSTERED 
(
	[GeoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GDELT20].[DimQuadClass]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GDELT20].[DimQuadClass](
	[QuadClassKey] [int] NOT NULL,
	[QuadClassCode] [char](1) NOT NULL,
	[QuadClassDescription] [varchar](255) NOT NULL,
 CONSTRAINT [PK_DimQuadClass] PRIMARY KEY CLUSTERED 
(
	[QuadClassKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GDELT20].[DimSourceLanguage]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GDELT20].[DimSourceLanguage](
	[SourceLanguageKey] [tinyint] NOT NULL,
	[SourceLanguageDesc] [varchar](255) NOT NULL,
 CONSTRAINT [PK_DimSourceLanguage] PRIMARY KEY CLUSTERED 
(
	[SourceLanguageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [GDELT20].[FactEvent]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [GDELT20].[FactEvent](
	[FactEventKey] [int] NOT NULL,
	[OccurrenceDateKey] [int] NULL,
	[AddedDateKey] [int] NOT NULL,
	[AddedTimeKey] [int] NULL,
	[QuadClassKey] [int] NOT NULL,
	[Actor1Key] [int] NOT NULL,
	[Actor2Key] [int] NOT NULL,
	[IsRootEvent] [tinyint] NULL,
	[EventCodeKey] [int] NOT NULL,
	[Actor1GeoKey] [int] NOT NULL,
	[Actor2GeoKey] [int] NOT NULL,
	[ActionGeoKey] [int] NOT NULL,
	[GoldsteinScale] [decimal](3, 1) NULL,
	[NumMentions] [int] NULL,
	[NumSources] [int] NULL,
	[NumArticles] [int] NULL,
	[AvgTone] [float] NULL,
	[SourceURL] [varchar](255) NULL,
	[SourceLanguage] [tinyint] NULL,
 CONSTRAINT [PK_FactEvent] PRIMARY KEY CLUSTERED 
(
	[FactEventKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SSIS].[ErrorLog]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SSIS].[ErrorLog](
	[Computer] [varchar](255) NULL,
	[Operator] [varchar](255) NULL,
	[SourceName] [varchar](255) NULL,
	[SourceID] [uniqueidentifier] NULL,
	[ExecutionID] [uniqueidentifier] NULL,
	[MessageText] [varchar](max) NULL,
	[DataBytes] [int] NULL,
	[StartTime] [datetime2](3) NULL,
	[EndTime] [datetime2](3) NULL,
	[Datacode] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SSIS].[ETLHistory]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SSIS].[ETLHistory](
	[MasterPackageID] [uniqueidentifier] NOT NULL,
	[PackageID] [uniqueidentifier] NOT NULL,
	[RunTime] [datetime2](0) NOT NULL CONSTRAINT [DFT_ETLHistory_RunTime]  DEFAULT (getdate()),
	[PackageName] [varchar](255) NOT NULL,
	[NewRecordCount] [int] NOT NULL,
	[ModifiedRecordCount] [int] NOT NULL,
 CONSTRAINT [PK_ETLHistory] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC,
	[RunTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SSIS].[SourceFileLastUpdate]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SSIS].[SourceFileLastUpdate](
	[FileIDNumber] [int] NULL,
	[FileIDString] [varchar](255) NULL,
	[FileURL] [varchar](255) NULL,
	[FileType] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[ActorCountry]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[ActorCountry](
	[CountryKey] [varchar](50) NOT NULL,
	[CountryDescription] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[ActorEthnicGroup]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[ActorEthnicGroup](
	[EthnicGroupKey] [varchar](50) NOT NULL,
	[EthnicGroupDescription] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[ActorKnownGroup]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[ActorKnownGroup](
	[KnownGroupKey] [varchar](50) NOT NULL,
	[KnownGroupDescription] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[ActorReligion]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[ActorReligion](
	[ReligionKey] [varchar](50) NOT NULL,
	[ReligionDescription] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[ActorType]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[ActorType](
	[ActorTypeKey] [varchar](50) NOT NULL,
	[ActorTypeDescription] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[DimActor]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[DimActor](
	[ActorName] [varchar](255) NOT NULL,
	[ActorCode] [varchar](50) NOT NULL,
	[ActorCountryCode] [varchar](50) NULL,
	[ActorCountryDesc] [varchar](255) NULL,
	[ActorKnownGroupCode] [varchar](50) NULL,
	[ActorKnownGroupDesc] [varchar](255) NULL,
	[ActorEthnicCode] [varchar](50) NULL,
	[ActorEthnicDesc] [varchar](255) NULL,
	[ActorReligion1Code] [varchar](50) NULL,
	[ActorReligion1Desc] [varchar](255) NULL,
	[ActorReligion2Code] [varchar](50) NULL,
	[ActorReligion2Desc] [varchar](255) NULL,
	[ActorType1Code] [varchar](50) NULL,
	[ActorType1Desc] [varchar](255) NULL,
	[ActorType2Code] [varchar](50) NULL,
	[ActorType2Desc] [varchar](255) NULL,
	[ActorType3Code] [varchar](50) NULL,
	[ActorType3Desc] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[DimGeo]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[DimGeo](
	[GeoFullname] [varchar](255) NOT NULL,
	[GeoCountryCode] [varchar](4) NOT NULL,
	[GeoCountryDesc] [varchar](255) NOT NULL,
	[GeoADM1Code] [varchar](4) NOT NULL,
	[GeoADM1Desc] [varchar](255) NOT NULL,
	[GeoADM2Code] [varchar](255) NOT NULL,
	[GeoFeatureID] [varchar](255) NOT NULL,
	[GeoLat] [decimal](9, 6) NULL,
	[GeoLong] [decimal](9, 6) NULL,
	[GeoTypeCode] [int] NOT NULL,
	[GeoTypeDesc] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[GDELT20DailyEvent]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[GDELT20DailyEvent](
	[GlobalEventID] [int] NOT NULL,
	[Day] [int] NULL,
	[MonthYear] [int] NULL,
	[Year] [int] NULL,
	[FractionDate] [decimal](9, 4) NULL,
	[Actor1Code] [varchar](255) NULL,
	[Actor1Name] [varchar](255) NULL,
	[Actor1CountryCode] [varchar](255) NULL,
	[Actor1KnownGroupCode] [varchar](255) NULL,
	[Actor1EthnicCode] [varchar](255) NULL,
	[Actor1Religion1Code] [varchar](255) NULL,
	[Actor1Religion2Code] [varchar](255) NULL,
	[Actor1Type1Code] [varchar](255) NULL,
	[Actor1Type2Code] [varchar](255) NULL,
	[Actor1Type3Code] [varchar](255) NULL,
	[Actor2Code] [varchar](255) NULL,
	[Actor2Name] [varchar](255) NULL,
	[Actor2CountryCode] [varchar](255) NULL,
	[Actor2KnownGroupCode] [varchar](255) NULL,
	[Actor2EthnicCode] [varchar](255) NULL,
	[Actor2Religion1Code] [varchar](255) NULL,
	[Actor2Religion2Code] [varchar](255) NULL,
	[Actor2Type1Code] [varchar](255) NULL,
	[Actor2Type2Code] [varchar](255) NULL,
	[Actor2Type3Code] [varchar](255) NULL,
	[IsRootEvent] [tinyint] NULL,
	[EventCode] [varchar](255) NULL,
	[EventBaseCode] [varchar](255) NULL,
	[EventRootCode] [varchar](255) NULL,
	[QuadClass] [int] NULL,
	[GoldsteinScale] [decimal](3, 1) NULL,
	[NumMentions] [int] NULL,
	[NumSources] [int] NULL,
	[NumArticles] [int] NULL,
	[AvgTone] [float] NULL,
	[Actor1Geo_Type] [int] NULL,
	[Actor1Geo_Fullname] [varchar](255) NULL,
	[Actor1Geo_CountryCode] [varchar](255) NULL,
	[Actor1Geo_ADM1Code] [varchar](255) NULL,
	[Actor1Geo_ADM2Code] [varchar](255) NULL,
	[Actor1Geo_Lat] [decimal](9, 6) NULL,
	[Actor1Geo_Long] [decimal](9, 6) NULL,
	[Actor1Geo_FeatureID] [varchar](255) NULL,
	[Actor2Geo_Type] [int] NULL,
	[Actor2Geo_Fullname] [varchar](255) NULL,
	[Actor2Geo_CountryCode] [varchar](255) NULL,
	[Actor2Geo_ADM1Code] [varchar](255) NULL,
	[Actor2Geo_ADM2Code] [varchar](255) NULL,
	[Actor2Geo_Lat] [decimal](9, 6) NULL,
	[Actor2Geo_Long] [decimal](9, 6) NULL,
	[Actor2Geo_FeatureID] [varchar](255) NULL,
	[ActionGeo_Type] [int] NULL,
	[ActionGeo_Fullname] [varchar](255) NULL,
	[ActionGeo_CountryCode] [varchar](255) NULL,
	[ActionGeo_ADM1Code] [varchar](255) NULL,
	[ActionGeo_ADM2Code] [varchar](255) NULL,
	[ActionGeo_Lat] [decimal](9, 6) NULL,
	[ActionGeo_Long] [decimal](9, 6) NULL,
	[ActionGeo_FeatureID] [varchar](255) NULL,
	[DATEADDED] [bigint] NULL,
	[SOURCEURL] [varchar](255) NULL,
	[SourceLanguage] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[GeoCountryADM1]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[GeoCountryADM1](
	[GeoCountryADM1Key] [char](4) NOT NULL,
	[GeoCountryCode] [char](2) NOT NULL,
	[GeoCountryDesc] [nvarchar](255) NOT NULL,
	[GeoADM1Code] [char](2) NOT NULL,
	[GeoADM1Desc] [nvarchar](255) NOT NULL,
	[IsCountry] [tinyint] NOT NULL,
 CONSTRAINT [PK_DimGeoCountryADM1] PRIMARY KEY CLUSTERED 
(
	[GeoCountryADM1Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [stg].[GeoType]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [stg].[GeoType](
	[GeoTypeCode] [int] NOT NULL,
	[GeoTypeDesc] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [GDELT20].[FactEvent_By_DateAdded_VR]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








create VIEW [GDELT20].[FactEvent_By_DateAdded_VR]
AS
SELECT
	 AD.FULL_DATE AS AddedDate
	 ,AD.CALENDAR_YEAR AS AddedYear
	 ,AD.MONTH_NAME AS AddedMonth
	 ,AD.DAY_OF_WEEK_NAME as [DayOfWeek]
	 ,F.AddedTimeKey AS AddedTime
	,COUNT(*) AS RecordCount

  FROM GDELT20.FactEvent F
	INNER JOIN COMMON.DimDate AD
		on F.AddedDateKey = AD.DATE_KEY
GROUP BY
	 AD.FULL_DATE
	 ,AD.CALENDAR_YEAR
	 ,AD.MONTH_NAME
	 ,F.AddedTimeKey
	 ,AD.DAY_OF_WEEK_NAME









GO
/****** Object:  StoredProcedure [COMMON].[PopulateDimDate]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================
-- Author:		Josh Morel
-- Create date: 2015-02-01
-- Description:	Insert geography dimension with transactional data
-- =============================================
CREATE PROCEDURE [COMMON].[PopulateDimDate]

AS
BEGIN
SET NOCOUNT ON;

truncate table COMMON.DimDate;

--Purpose: To populate the DIM_DATE table

--Step 1: Declare temporary holiday table and populate with data from ESP holiday table
--Note: Data available for FY 2004/05 forward. Updated yearly.

--Step 2: Declare temporary date table 
DECLARE @DIM_DATE TABLE (
	DATE_KEY INT
	,FULL_DATE DATETIME2(0)
	,DATE_YYYYMMDD VARCHAR(10)
	,DATE_MMDDYYYY VARCHAR(10)
	,DATE_DDMMYYYY VARCHAR(10)
	,DAY_OF_WEEK SMALLINT
	,DAY_OF_WEEK_NAME VARCHAR(10)
	,DAY_OF_WEEK_ABBREVIATION VARCHAR(3)
	,DAY_OF_MONTH SMALLINT
	,DAY_OF_YEAR SMALLINT

	,WEEKDAY_WEEKEND VARCHAR(7)
	,IS_WEEKDAY TINYINT

	,WEEK_OF_YEAR TINYINT
	,MONTH_NAME VARCHAR(10)
	,MONTH_ABBREVIATION VARCHAR(3)
	,MONTH_OF_YEAR SMALLINT
	,IS_LAST_DAY_OF_MONTH TINYINT
	,CALENDAR_QUARTER SMALLINT
	,CALENDAR_QUARTER_NAME VARCHAR(3)
	,CALENDAR_YEAR SMALLINT
	,CALENDAR_YEAR_NAME VARCHAR(7)
	,CALENDAR_YEAR_MONTH VARCHAR(16)
	,CALENDAR_YEAR_QUARTER VARCHAR(12)
	,FISCAL_MONTH_OF_YEAR SMALLINT
	,FISCAL_QUARTER SMALLINT
	,FISCAL_QUARTER_NAME VARCHAR(3)
	,FISCAL_YEAR SMALLINT
	,FISCAL_YEAR_NAME VARCHAR(10)
	,FISCAL_YEAR_MONTH VARCHAR(19)
	,FISCAL_YEAR_QUARTER VARCHAR(15)
	,LAST_DAY_OF_WEEK DATETIME2(0)
	,LAST_DAY_OF_MONTH DATETIME2(0)
);

--Step 3: Populate date table with days from 1950 to 2050
DECLARE @DATECTR DATETIME2(0) = '2000-01-01 00:00';

WHILE @DATECTR <= '2016-12-31'

BEGIN
INSERT INTO COMMON.DimDate
VALUES(
	CAST(CONVERT(CHAR(8),@DATECTR,112) AS INT) --Date Key
	,@DATECTR --Date in Date Format
	,CONVERT(CHAR(10),@DATECTR,111) --Date in YYYY/MM/DD format (Japan)
	,CONVERT(CHAR(10),@DATECTR,101) --Date in MM/DD/YYYY format (US)
	,CONVERT(CHAR(10),@DATECTR,103) --Date in DD/MM/YYYY format (UK)
	,DATEPART(DW,@DATECTR) --Day of Week (number)
	,DATENAME(DW,@DATECTR) --Day Name (full)
	,LEFT(DATENAME(DW,@DATECTR),3) --Day Name (abbreviation)
	,DAY(@DATECTR) --Day of Month
	,DATEPART(DY,@DATECTR) --Day of Year
	,CASE WHEN DATEPART(DW,@DATECTR) IN (1,7) THEN 'Weekend' ELSE 'Weekday' END --Weekend/Weekday
	,CASE WHEN DATEPART(DW,@DATECTR) IN (1,7) THEN 0 ELSE 1 END --Is Weekend (boolean)
	,DATEPART(WEEK,@DATECTR) --Week of Year
	,DATENAME(M,@DATECTR) --Month Name (full)
	,LEFT(DATENAME(M,@DATECTR),3) --Month Name (abbreviation)
	,MONTH(@DATECTR) --Month of Year
	,CASE WHEN MONTH(@DATECTR) <> MONTH(DATEADD(DAY,1,@DATECTR)) THEN 1 ELSE 0 END --Is Last Day of Month (boolean)
	,DATEPART(QQ,@DATECTR) --Calendar Quarter (number) 
	,'Q'+DATENAME(QQ,@DATECTR) --Calendar Quarter (name)
	,YEAR(@DATECTR) --Calendar Year (quarter)
	,'CY '+DATENAME(YYYY,@DATECTR) --Calendar Year (name)
	,'CY '+DATENAME(YYYY,@DATECTR) + ' ' + RIGHT('0'+CAST(MONTH(@DATECTR) AS VARCHAR(2)),2) + '_' + LEFT(DATENAME(M,@DATECTR),3) --Calendar Year & Month
	,'CY '+DATENAME(YYYY,@DATECTR) + ' Q' + DATENAME(QQ,@DATECTR) --Calendar Year & Quarter
	,CASE WHEN MONTH(@DATECTR) <= 3 THEN MONTH(@DATECTR) + 9 ELSE MONTH(@DATECTR) - 3 END --Fiscal Year of Month
	,CASE WHEN MONTH(@DATECTR) <= 3 THEN 4 ELSE DATEPART(QQ,@DATECTR) - 1 END --Fiscal Quarter (number)
	,CASE WHEN MONTH(@DATECTR) <= 3 THEN 'Q4' ELSE 'Q'+CAST(DATEPART(QQ,@DATECTR) - 1 AS CHAR(1)) END --Fiscal Quarter (name)
	,CASE WHEN MONTH(@DATECTR) <= 3 THEN YEAR(@DATECTR)-1 ELSE YEAR(@DATECTR) END --Fiscal year (number)
	,CASE WHEN MONTH(@DATECTR) <= 3 
		THEN 'FY ' + CAST(YEAR(@DATECTR)-1 AS CHAR(4))+'/'+RIGHT(DATENAME(YYYY,@DATECTR),2) 
		ELSE 'FY ' + DATENAME(YYYY,@DATECTR) + '/' + RIGHT(CAST(YEAR(@DATECTR)+1 AS CHAR(4)),2) 
	END --Fiscal Year (name)
	,CASE WHEN MONTH(@DATECTR) <= 3 
		THEN 'FY ' + CAST(YEAR(@DATECTR)-1 AS CHAR(4))+'/'+RIGHT(DATENAME(YYYY,@DATECTR),2) + ' ' + 
			CAST(MONTH(@DATECTR) + 9 AS CHAR(2)) + '_' + LEFT(DATENAME(M,@DATECTR),3)
		ELSE 'FY ' + DATENAME(YYYY,@DATECTR) + '/' + RIGHT(CAST(YEAR(@DATECTR)+1 AS CHAR(4)),2) + ' ' + 
			RIGHT('0'+CAST(MONTH(@DATECTR) - 3 AS VARCHAR(2)),2) + '_' + LEFT(DATENAME(M,@DATECTR),3)
	END	--Fiscal Year & Month

	,CASE WHEN MONTH(@DATECTR) <= 3 
		THEN 'FY ' + CAST(YEAR(@DATECTR)-1 AS CHAR(4))+'/'+RIGHT(DATENAME(YYYY,@DATECTR),2) + ' Q4'
		ELSE 'FY ' + DATENAME(YYYY,@DATECTR) + '/' + RIGHT(CAST(YEAR(@DATECTR)+1 AS CHAR(4)),2) + ' ' 
			+ 'Q'+CAST(DATEPART(QQ,@DATECTR) - 1 AS CHAR(1))
	END	--Fiscal Year & Quarter
	,DATEADD(DAY,7-DATEPART(DW,@DATECTR),@DATECTR) --End of Week (Saturday of same week)
	,DATEADD(DAY,-DAY(DATEADD(MONTH,1,@DATECTR)),DATEADD(MONTH,1,@DATECTR)) --End of Month
)

SET @DATECTR = DATEADD(DAY,1,@DATECTR );
END

;


--Step 5: Insert unknown date record
INSERT INTO COMMON.DimDate
VALUES
(
	30001231
	,'3000-12-31'
	,'N/A'
	,'N/A'
	,'N/A'
	,null
	,'N/A'
	,'N/A'
	,null
	,null

	,'N/A'
	,null
	,null
	,'N/A'
	,'N/A'
	,null
	,null
	,null
	,'N/A'
	,null
	,'N/A'
	,'N/A'
	,'N/A'
	,null
	,null
	,'N/A'
	,null
	,'N/A'
	,'N/A'
	,'N/A'	
	,'3000-12-31'
	,'3000-12-31'
)


END



















GO
/****** Object:  StoredProcedure [dbo].[GetSubsetData]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetSubsetData] (@StartDate datetime, @EndDate datetime)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
select
	F.FactEventKey
    ,d.DATE_MMDDYYYY OccurrenceDate
	,f.AvgTone
	,f.ActionGeoKey
	,f.GoldsteinScale
from GDELT20.FactEvent F
  inner join COMMON.DimDate D
	on f.OccurrenceDateKey = d.DATE_KEY
where d.FULL_DATE >= @StartDate
and d.FULL_DATE <= @EndDate

END

GO
/****** Object:  StoredProcedure [GDELT20].[InsertDimActor]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Josh Morel
-- Create date: 2014-12-24
-- Description:	Insert actor dimension from transactional data with all attributes
-- =============================================
CREATE PROCEDURE [GDELT20].[InsertDimActor] (@RowsInserted int output)
	-- Add the parameters for the stored procedure here
AS
BEGIN
SET NOCOUNT ON;

--Truncate staging table
truncate table stg.DimActor;

--First store distinct list of all actors from actor 1 and actor 2 columns into temp table
select distinct *
into #actor
from (
select 
	a1.Actor1Name ActorName
	,a1.Actor1Code ActorCode
	,a1.Actor1CountryCode ActorCountryCode
	,a1.Actor1KnownGroupCode ActorKnownGroupCode
	,a1.Actor1EthnicCode ActorEthnicCode
	,a1.Actor1Religion1Code ActorReligion1Code
	,a1.Actor1Religion2Code ActorReligion2Code
	,a1.Actor1Type1Code ActorType1Code
	,a1.Actor1Type2Code ActorType2Code
	,a1.Actor1Type3Code ActorType3Code
from stg.GDELT20DailyEvent a1
where a1.Actor1Name is not null
union all
select 
	a2.Actor2Name
	,a2.Actor2Code
	,a2.Actor2CountryCode
	,a2.Actor2KnownGroupCode
	,a2.Actor2EthnicCode
	,a2.Actor2Religion1Code
	,a2.Actor2Religion2Code
	,a2.Actor2Type1Code
	,a2.Actor2Type2Code
	,a2.Actor2Type3Code
from stg.GDELT20DailyEvent a2
where a2.Actor2Name is not null
) sq ;

--Next, get lookup values for descriptions and insert into staging table
insert into stg.DimActor
select 
	isnull(a.ActorName,'n/a') ActorName
	,isnull(a.ActorCode,'n/a') ActorCode 
	,isnull(a.ActorCountryCode,'n/a') ActorCountryCode
	,isnull(c.CountryDescription,'n/a') ActorCountryDesc
	,isnull(a.ActorKnownGroupCode,'n/a') ActorKnownGroupCode
	,isnull(k.KnownGroupDescription,'n/a') ActirKnownGroupDesc
	,isnull(a.ActorEthnicCode,'n/a') ActorEthnicCode
	,isnull(e.EthnicGroupDescription,'n/a') ActorEthnicDesc
	,isnull(a.ActorReligion1Code,'n/a') ActorReligion1Code
	,isnull(r1.ReligionDescription,'n/a') ActorReligion1Desc
	,isnull(a.ActorReligion2Code,'n/a') ActorReligion2Code
	,isnull(r2.ReligionDescription,'n/a') ActorReligion2Desc
	,isnull(a.ActorType1Code,'n/a') ActorType1Code
	,isnull(t1.ActorTypeDescription,'n/a') ActorType1Desc
	,isnull(a.ActorType2Code,'n/a') ActorType2Code
	,isnull(t2.ActorTypeDescription,'n/a') ActorType2Desc
	,isnull(a.ActorType3Code,'n/a') ActorType3Code
	,isnull(t3.ActorTypeDescription,'n/a') ActorType3Desc
from #actor a
	left outer join stg.ActorCountry c
		on a.ActorCountryCode = c.CountryKey
	left outer join stg.ActorKnownGroup k
		on a.ActorKnownGroupCode = k.KnownGroupKey
	left outer join stg.ActorEthnicGroup e
		on a.ActorEthnicCode = e.EthnicGroupKey
	left outer join stg.ActorReligion r1
		on a.ActorReligion1Code = r1.ReligionKey
	left outer join stg.ActorReligion r2
		on a.ActorReligion2Code = r2.ReligionKey
	left outer join stg.ActorType t1
		on a.ActorType1Code = t1.ActorTypeKey
	left outer join stg.ActorType t2
		on a.ActorType2Code = t2.ActorTypeKey
	left outer join stg.ActorType t3
		on a.ActorType3Code = t3.ActorTypeKey
;

--Finally, use merge statement to update or insert into production table on combination of unique columns (ActorCode is combination of three actor types)
	--ActorName,ActorCode,ActorCountryCode,ActorKnownGroupCode,ActorEthnicCode,ActorReligion1Code,ActorReligion2Code

merge GDELT20.DimActor as t1
using stg.DimActor as t2 
on t1.ActorName = t2.ActorName
	and t1.ActorCode = t2.ActorCode
	and t1.ActorCountryCode = t2.ActorCountryCode
	and t1.ActorKnownGroupCode = t2.ActorKnownGroupCode
	and t1.ActorEthnicCode = t2.ActorEthnicCode
	and t1.ActorReligion1Code = t2.ActorReligion1Code
	and t1.ActorReligion2Code = t2.ActorReligion2Code

  when not matched then 

      insert (ActorName
           ,ActorCode
           ,ActorCountryCode
           ,ActorCountryDesc
           ,ActorKnownGroupCode
           ,ActorKnownGroupDesc
           ,ActorEthnicCode
           ,ActorEthnicDesc
           ,ActorReligion1Code
           ,ActorReligion1Desc
           ,ActorReligion2Code
           ,ActorReligion2Desc
           ,ActorType1Code
           ,ActorType1Desc
           ,ActorType2Code
           ,ActorType2Desc
           ,ActorType3Code
           ,ActorType3Desc)

      values (ActorName
           ,ActorCode
           ,ActorCountryCode
           ,ActorCountryDesc
           ,ActorKnownGroupCode
           ,ActorKnownGroupDesc
           ,ActorEthnicCode
           ,ActorEthnicDesc
           ,ActorReligion1Code
           ,ActorReligion1Desc
           ,ActorReligion2Code
           ,ActorReligion2Desc
           ,ActorType1Code
           ,ActorType1Desc
           ,ActorType2Code
           ,ActorType2Desc
           ,ActorType3Code
           ,ActorType3Desc);

SELECT @RowsInserted = @@ROWCOUNT;
--Drop temp table
drop table #actor

END













GO
/****** Object:  StoredProcedure [GDELT20].[InsertDimGeo]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		Josh Morel
-- Create date: 2015-02-01
-- Description:	Insert geography dimension with transactional data
-- =============================================
CREATE PROCEDURE [GDELT20].[InsertDimGeo] (@RowsInserted int output)

AS
BEGIN
SET NOCOUNT ON;

--Truncate staging table
truncate table stg.DimGeo;

--First store distinct list of all geo locations from actor 1, actor 2 and action columns in temp table 
select distinct *
into #geo
from
(
select
	Actor1Geo_Type GeoType
    ,Actor1Geo_Fullname GeoFullname
    ,Actor1Geo_CountryCode GeoCountryCode
    ,Actor1Geo_ADM1Code GeoADM1Code
	,Actor1Geo_ADM2Code GeoADM2Code
    ,Actor1Geo_Lat GeoLat
    ,Actor1Geo_Long GeoLong
    ,Actor1Geo_FeatureID GeoFeatureID
from stg.GDELT20DailyEvent
where Actor1Geo_type <> 0 
union all
select
	Actor2Geo_Type GeoType
    ,Actor2Geo_Fullname GeoFullname
    ,Actor2Geo_CountryCode GeoCountryCode
    ,Actor2Geo_ADM1Code GeoADM1Code
	,Actor2Geo_ADM2Code GeoADM2Code
    ,Actor2Geo_Lat GeoLat
    ,Actor2Geo_Long GeoLong
    ,Actor2Geo_FeatureID GeoFeatureID
from stg.GDELT20DailyEvent	
where Actor2Geo_type <> 0
union all
select
	ActionGeo_Type GeoType
    ,ActionGeo_Fullname GeoFullname
    ,ActionGeo_CountryCode GeoCountryCode
    ,ActionGeo_ADM1Code GeoADM1Code
	,ActionGeo_ADM2Code GeoADM2Code
    ,ActionGeo_Lat GeoLat
    ,ActionGeo_Long GeoLong
    ,ActionGeo_FeatureID GeoFeatureID
from stg.GDELT20DailyEvent
where ActionGeo_Type <> 0
) sq ;

--Next, get lookup values for descriptions and insert into staging table
insert into stg.DimGeo
select 
	isnull(g.GeoFullname,'n/a') GeoFullname
	,g.GeoCountryCode
	,isnull(gc.GeoCountryDesc,'n/a') GeoCountryDesc
	,g.GeoADM1Code
	,case when G.GeoType = 1 then 'Not Applicable, Geo Is Country Type'
		else isnull(gca.GeoADM1Desc,'ADM1 Description Not Available')
	end GeoADM1Desc
	,isnull(g.GeoADM2Code,'n/a') GeoADM2Code
	,g.GeoFeatureID
	,g.GeoLat
	,g.GeoLong
	,G.GeoType GeoTypeCode
	,gt.GeoTypeDesc
from #geo g
	left outer join stg.GeoType gt
		on g.GeoType = gt.GeoTypeCode
	left outer join stg.GeoCountryADM1 gca
		on g.GeoADM1Code = gca.GeoCountryADM1Key
	left outer join stg.GeoCountryADM1 gc
		on g.GeoCountryCode = gc.GeoCountryADM1Key
;

--Finally, use merge statement to update or insert into production table on combination of unique columns
	--GeoFeatureID, GeoFullname, GeoLat, GeoLong, GeoADM1Code

merge GDELT20.DimGeo as t1
using stg.DimGeo as t2 
on t1.GeoFeatureID = t2.GeoFeatureID
	and t1.GeoFullname = t2.GeoFullname
	and t1.GeoADM1Code = t2.GeoADM1Code
	and t1.GeoADM2Code = t2.GeoADM2Code 
	and isnull(t1.GeoLat,0) = isnull(t2.GeoLat,0)
	and isnull(t1.GeoLong,0) = isnull(t2.GeoLong,0)

  when not matched then 

      insert (GeoFullname
		,GeoCountryCode
		,GeoCountryDesc
		,GeoADM1Code
		,GeoADM1Desc
		,GeoADM2Code
		,GeoFeatureID
		,GeoLat
		,GeoLong
		,GeoTypeCode
		,GeoTypeDesc)

      values (GeoFullname
		,GeoCountryCode
		,GeoCountryDesc
		,GeoADM1Code
		,GeoADM1Desc
		,GeoADM2Code
		,GeoFeatureID
		,GeoLat
		,GeoLong
		,GeoTypeCode
		,GeoTypeDesc);

SELECT @RowsInserted = @@ROWCOUNT;
--Drop temp table
drop table #geo

END

















GO
/****** Object:  StoredProcedure [GDELT20].[InsertFactEvent]    Script Date: 2016-09-11 08:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Josh Morel
-- Create date: 2014-12-15
-- Description:	Insert fact table event
-- =============================================
CREATE PROCEDURE [GDELT20].[InsertFactEvent] (@RowsInserted int output)
	-- Add the parameters for the stored procedure here
AS
BEGIN
SET NOCOUNT ON;


select 
	de.GlobalEventID as DailyEventKey
	,de.Day as OccurrenceDateKey
	,cast(left(cast(dateadded as varchar(16)),8) as int) as AddedDateKey
	,cast(substring(cast(dateadded as varchar(16)),9,4) as int) AddedTimeKey
	,QuadClass as QuadClassKey
	,isnull(de.Actor1Code,'n/a') Actor1Code
	,isnull(de.Actor1Name,'n/a') Actor1Name
	,isnull(de.Actor1CountryCode,'n/a') Actor1CountryCode
	,isnull(de.Actor1KnownGroupCode,'n/a') Actor1KnownGroupCode
	,isnull(de.Actor1EthnicCode,'n/a') Actor1EthnicCode
	,isnull(de.Actor1Religion1Code,'n/a') Actor1Religion1Code
	,isnull(de.Actor1Religion2Code,'n/a') Actor1Religion2Code
	,isnull(de.Actor2Code,'n/a') Actor2Code
	,isnull(de.Actor2Name,'n/a') Actor2Name
	,isnull(de.Actor2CountryCode,'n/a') Actor2CountryCode
	,isnull(de.Actor2KnownGroupCode,'n/a') Actor2KnownGroupCode
	,isnull(de.Actor2EthnicCode,'n/a') Actor2EthnicCode
	,isnull(de.Actor2Religion1Code,'n/a') Actor2Religion1Code
	,isnull(de.Actor2Religion2Code,'n/a') Actor2Religion2Code
	,IsRootEvent
	,case when ISNUMERIC(de.EventCode) = 1 then cast(de.EventCode as int) else 0 end as EventCodeKey
	--For Actor1GeoKey
	--FullName, Lat, Long, FeatureID can be assumed unique for DimGeo (include Actor1Geo_Type for no geo cases)
	,Actor1Geo_Type
	,isnull(Actor1Geo_Fullname,'n/a') Actor1Geo_Fullname
	,isnull(Actor1Geo_ADM2Code,'n/a') Actor1Geo_ADM2Code
	,Actor1Geo_Lat
	,Actor1Geo_Long
	,isnull(Actor1Geo_FeatureID,'n/a') Actor1Geo_FeatureID
	--For Actor2GeoKey
	,Actor2Geo_Type
	,isnull(Actor2Geo_Fullname,'n/a') Actor2Geo_Fullname
	,isnull(Actor2Geo_ADM2Code,'n/a') Actor2Geo_ADM2Code
	,Actor2Geo_Lat
	,Actor2Geo_Long
	,isnull(Actor2Geo_FeatureID,'n/a') Actor2Geo_FeatureID
	--For ActionGeoKey
	,ActionGeo_Type
	,isnull(ActionGeo_Fullname,'n/a') ActionGeo_Fullname
	,isnull(ActionGeo_ADM2Code,'n/a') ActionGeo_ADM2Code
	,ActionGeo_Lat
	,ActionGeo_Long
	,isnull(ActionGeo_FeatureID,'n/a') ActionGeo_FeatureID
	,GoldsteinScale
	,NumMentions
	,NumSources
	,NumArticles
	,AvgTone
    ,SOURCEURL as SourceURL
	,case when SourceLanguage = 'english' then 1 else 0 end SourceLanguage
into #dailyevent
 from stg.GDELT20DailyEvent de
;

insert into GDELT20.FactEvent
select
	DailyEventKey
	,OccurrenceDateKey
	,AddedDateKey
	,AddedTimeKey
	,QuadClassKey
	,isnull(a1.ActorKey,-1) Actor1Key --These are non null actor not found in dimension (unexpected)
	,isnull(a2.ActorKey,-1) Actor2Key --These are non null actor not found in dimension (unexpected)
	,IsRootEvent
	,EventCodeKey
	,isnull(ag1.GeoKey,-1) Actor1GeoKey --These are non null actor not found in dimension (unexpected)
	,isnull(ag2.GeoKey,-1) Actor2GeoKey --These are non null actor not found in dimension (unexpected)
	,isnull(actg.GeoKey,-1) ActionGeoKey --These are non null actor not found in dimension (unexpected)
	,GoldsteinScale
	,NumMentions
	,NumSources
	,NumArticles
	,AvgTone
    ,SourceURL
	,SourceLanguage
from #dailyevent de
	left outer join GDELT20.DimActor a1
		on de.Actor1Name = a1.ActorName
			and de.Actor1Code = a1.ActorCode
			and de.Actor1CountryCode = a1.ActorCountryCode
			and de.Actor1KnownGroupCode = a1.ActorKnownGroupCode
			and de.Actor1EthnicCode = a1.ActorEthnicCode
			and de.Actor1Religion1Code = a1.ActorReligion1Code
			and de.Actor1Religion2Code = a1.ActorReligion2Code
	left outer join GDELT20.DimActor a2
		on de.Actor2Name = a2.ActorName
			and de.Actor2Code = a2.ActorCode
			and de.Actor2CountryCode = a2.ActorCountryCode
			and de.Actor2KnownGroupCode = a2.ActorKnownGroupCode
			and de.Actor2EthnicCode = a2.ActorEthnicCode
			and de.Actor2Religion1Code = a2.ActorReligion1Code
			and de.Actor2Religion2Code = a2.ActorReligion2Code
	left outer join GDELT20.DimGeo ag1
		on 	de.Actor1Geo_Type = ag1.GeoTypeCode
			and de.Actor1Geo_Fullname = ag1.GeoFullname
			and de.Actor1Geo_ADM2Code = ag1.GeoADM2Code
			and isnull(de.Actor1Geo_Lat,0) = isnull(ag1.GeoLat,0)
			and isnull(de.Actor1Geo_Long,0) = isnull(ag1.GeoLong,0)
			and de.Actor1Geo_FeatureID = ag1.GeoFeatureID
	left outer join GDELT20.DimGeo ag2
		on 	de.Actor2Geo_Type = ag2.GeoTypeCode
			and de.Actor2Geo_Fullname = ag2.GeoFullname
			and de.Actor2Geo_ADM2Code = ag2.GeoADM2Code
			and isnull(de.Actor2Geo_Lat,0) = isnull(ag2.GeoLat,0)
			and isnull(de.Actor2Geo_Long,0) = isnull(ag2.GeoLong,0)
			and de.Actor2Geo_FeatureID = ag2.GeoFeatureID
	left outer join GDELT20.DimGeo actg
		on 	de.ActionGeo_Type = actg.GeoTypeCode
			and de.ActionGeo_Fullname = actg.GeoFullname
			and de.ActionGeo_ADM2Code = actg.GeoADM2Code
			and isnull(de.ActionGeo_Lat,0) = isnull(actg.GeoLat,0)
			and isnull(de.ActionGeo_Long,0) = isnull(actg.GeoLong,0)
			and de.ActionGeo_FeatureID = actg.GeoFeatureID

SELECT @RowsInserted = @@ROWCOUNT;

drop table #dailyevent

END

















GO
USE [master]
GO
